{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% include 'components/nabvar.html' %}
{% endblock navbar %}

{% block content %}
<div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">

        <img class="w-full rounded-lg" src="{{product.thumbnail.url}}" alt="" width="1310" height="873">
        
      
      <p class="mt-8 text-xl text-gray-500 leading-8">{{product.description}}</p>
   
</div>
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-50">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-16 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">Ready to dive in?</span>
      <span class="block text-indigo-600">Start your free trial today.</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <button type="submit" id="checkout-button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-5 py-3 text-base font-medium text-white hover:bg-indigo-700">Buy</button>
      </div>
      
      <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
        <svg class="h-6 w-6 text-green-600" x-description="Heroicon name: outline/check"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
    </div>
    </div>
  </div>
</div>
{% csrf_token %}
{% comment %} {{STRIPE_PUBLIC_KEY}} {% endcomment %}

{% endblock content %}

{% block footer %}

{% endblock footer %}


{% block javascript %}
<script type="text/javascript">

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // Create and instance of the stripe object with your publishable API key
    var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');

    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function() {
        //Create a new Checkout session using the server-side endpoint yout
        //create in step 3

        fetch("{% url 'create-checkout-session' product.slug %}", {
            method: 'POST',
            headers:{
              "Content-Type": "application/json",
              'X-CSRFToken': csrftoken
            }
            
        })
        .then(function(response){
            return response.json();
        })
        .then(function(session){
            console.log(session)
            return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result){
            // If 'redirectToCheckout' fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using 'error.message'
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function(error){
            console.error('Error', error);
        });
    });
</script>
  
</script>
{% endblock javascript %}