{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% include 'components/nabvar.html' %}
{% endblock navbar %}

{% block content %}

<div class="m-0 row justify-content-center ">
    <div class="col-auto p-5 text-center">
        <div class="alert alert-success" role="alert">
        Successfull purchase
        </div>
    </div>
</div>
<div class="m-0 row justify-content-center ">
    <div class="col-auto p-5 text-center">
        <a href="{% url 'home' %}">
            <button type="button" class="btn btn-success">Home</button>
        </a>
    </div>
</div>


{% endblock content %}

{% block footer %}

{% endblock footer %}


{% block javascript %}



{% endblock javascript %}