{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% include 'components/nabvar.html' %}
{% endblock navbar %}

{% block content %}
Successfull purchase
{% endblock content %}
<div
class="absolute inset-0 flex items-center"
aria-hidden="true"
>
<div
class="w-full border-t dark:border-dark-second border-gray-300"
></div>
</div>
<div class="relative flex justify-center my-4">
<span
class="px-2 bg-white dark:bg-dark-second text-sm dark:text-dark-txt text-gray-500"
>
Product Details
</span>
</div>
</div>
{% block footer %}

{% endblock footer %}


{% block javascript %}



{% endblock javascript %}