{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    

<div class="m-0 vh-0 row justify-content-center aling-items-center">
  <div class="col-auto  p-5 text-center">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'login.jfif' %}" alt=""
          class="img-fluid rounded-start" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Change Password</h5>
          <br>

          <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action">{% trans "Change Password" %}</button>
            </form>

          

        </div>
      </div>
    </div>
  </div>
  </div>
</div>

    
{% endblock %}
